.bootCampContent h1{
    font-size:60px;
    margin:10px auto 0;
    text-decoration: underline;
    text-decoration-thickness:3px;
}
.bootCampContent h2{
    font-size: 30px;
    margin:10px auto 0;
}

.bootCampContent h3{
    font-size:24px;
    margin:5px auto 0;
}

.bootCampContent h4{
    font-size:22px;
    margin:5px auto 0;
}
.bootCampContent p {
    font-size:22px;
}
.bootCampContent li {
    font-size:22px;
}

.bootCampContent{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    max-width: 1000px;
}
.topSection{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.weekWrapper{
    width:100%;
    height:auto;
    background:#feffe9;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid #2e3105;
    border-bottom:1px solid #2e3105;
}
.weekContent{
    width:100%;
    max-width:1200px;
    display:grid;
    grid-template-columns:50% 50%;
    column-gap:20px;

}
.weekContent h1{
    font-size:50px;
}

.weekContent p, li{
    font-size:20px;
}
.week{
    
    display:grid;
    grid-auto-rows: minmax(50px, 100px);
    

}
.BootcampProjects{
    display:grid;
    grid-auto-rows: minmax(30px, auto);
}
.BC_Title{grid-area:Title;}
.BC_IMG{
    grid-area:img;
    height:200px;
    width:480px;
}
.BC_IMG img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);

}
.BC_IMG img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}


.BC_GIT{grid-area:git;}
.BC_Des{grid-area:description;}
.BC_Des p{
    font-size:16px;
}
.BC_Card{
    display:grid;
    grid-template:
    'Title Title git'
    'img img img'
    'description description description';

}
.center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.topCenter{
    display:flex;
    jusitfy-content:flex-start;
    align-items:flex-start;
    
}
