.bootCampContent h1{
    font-size:60px;
    margin:10px auto 0;
    text-decoration: underline;
    text-decoration-thickness:3px;
}
.bootCampContent h2{
    font-size: 30px;
    margin:10px auto 0;
}

.bootCampContent h3{
    font-size:24px;
    margin:5px auto 0;
}

.bootCampContent h4{
    font-size:22px;
    margin:5px auto 0;
}
.bootCampContent p {
    font-size:22px;
}
.bootCampContent li {
    font-size:22px;
}

.bootCampContent{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    max-width: 1000px;
}
.topSection{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.weekWrapper{
    width:100%;
    height:auto;
    background:#feffe9;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid #2e3105;
    border-bottom:1px solid #2e3105;
}

.weekWrapperB{
    width:100%;
    height:auto;
    background:#708A58;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#feffe9;
}
.weekContent{
    width:100%;
    max-width:1200px;
    display:grid;
    grid-template-columns:50% 50%;
    column-gap:20px;

}
.weekContent h1{
    font-size:50px;
}

.weekContent p, li{
    font-size:20px;
}
.week{
    
    display:grid;
    grid-auto-rows: minmax(50px, 100px);
    

}
.BootcampProjects{
    display:grid;
    grid-auto-rows: minmax(30px, auto);
}

.BC_Title{grid-area:Title;}
.BC_IMG{
    grid-area:img;
    height:200px;
    width:480px;
}
.BC_IMG img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);

}
.BC_IMG img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}


.BC_GIT{grid-area:git;}
.BC_Des{grid-area:description;}
.BC_Des p{
    font-size:22px;
}
.BC_Card{
    display:grid;
    grid-template:
    'Title Title git'
    'img img img'
    'description description description';

}
.center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.topCenter{
    display:flex;
    jusitfy-content:flex-start;
    align-items:flex-start;
    
}


/* Core Projects Banner */
.coreProjectsWrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:500px;
    background: #708A58;
    margin:40px 0 40px;
    padding:15px;
    flex-direction:column;
    color:#2e3105;

}
.coreProjectsWrapper h1{
    margin:0 0 25px;
    padding:0;
}

.coreProjects{
    width:100%;
    height:400px;
    max-width:1200px;
    display:grid;
    grid-template-columns: 22% 22% 22% 22%;
    column-gap:2%;
}
.coreProjects a{
    text-decoration:none;
}
.coreProjects a:visited{
    color:black;
}

.coreCard{
    width:100%;
    border-radius:25px;
    background:#feffe9;
    display:grid;
    grid-template-column: 80px 250px 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.coreCard:hover{
    transform:scale(1.1);
    transition: transform .3 ease;
}
.twelveHundred{
    width:1200px
}
.coreCardTitle{
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.coreCardTitle h1{
    margin:0;
    padding:0;
}
.coreCardImg{
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.coreCardImg img{
    height:90%;
    border-radius: 25px;
    
}
.coreCardDescription{
    height:70px;
}
.coreCardDescription p{
    margin:0 15px;
    padding:0;
    text-indent:0;
    text-align:center;
}

/* Week Links */
.weekLinksWrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:40px 0;
}

.weekLinksWrapper ul{
    list-style-type:none;
}

.weekLinksWrapper a{
    text-decoration:none;
}
.weekLinksWrapper a:visited{
    color:blue;
}
.weekLinksWrapper a:hover{
    color:purple;
}

/* Phone Css */
@media only screen and (max-width: 600px){
    .bootCampContent h1{
    text-align:center;
}
.bootCampContent h2{
    text-align:center;
    margin:10px;
}
.bootCampContent p {
    text-align:center;
    margin:10px;
}
.bootCampContent li {
    margin:10px;
}
.coreProjectsWrapper{
    width:91%;
    height:auto;
}
.coreProjects{

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width:100%;
    height:100%;
    column-gap:0;
    row-gap:10px;
    
    
}
.coreCard{
    margin:auto;
    
}
.weekWrapper{
    width:100%;
    height:auto;
}

.weekContent{
    grid-template-columns:1fr;
    grid-template-rows:auto;
    width:100%;
    height:100%;
}
.week{
    height:300px;
    width:100%;
}
.topCenter{
    width:100%;
}
.BootcampProjects{
    width:100%;
}
.BC_IMG{
    width:100%;
    height:100%;

}
.BC_IMG img{
    width:95%;
    height:100%;
    margin:0 10px;
    padding:0;
}
.BC_Card{
    display:grid;
    grid-template:
    'Title Title Title'
    'img img img'
    'git git git'
    'description description description';

}
.BC_Title{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0;
    margin:0;
}
.BC_Title h3{
    margin:0;
    padding:0;
}
.BC_Des{
    margin:15px 10px;
    text-align:center;
}
.BC_Des p{
    text-indent:0;
}
}

/* Tablet Css */
@media only screen and (max-width: 1200px)and (min-width:600px){
    .bootCampContent h1{
    text-align:center;
}
.bootCampContent h2{
    text-align:center;
    margin:10px;
}
.bootCampContent p {
    text-align:center;
    margin:30px;
}
.bootCampContent li {
    margin:20px;
}
.coreProjectsWrapper{
    width:95%;
    height:auto;
}
.coreProjects{

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width:100%;
    height:100%;
    column-gap:0;
    row-gap:10px;
    
    
}
.coreCard{
    margin:auto;
    
}
.weekWrapper{
    width:100%;
    height:auto;
}

.weekContent{
    grid-template-columns:1fr;
    grid-template-rows:auto;
    width:100%;
    height:100%;
    place-items:center;
}
.week{
    height:300px;
    width:100%;
}
.topCenter{
    
    width:100%;
    jusitfy-content:center;
    align-items:center;
}
.BootcampProjects{
    width:100%;
}
.BC_IMG{
    width:100%;
    height:100%;

}
.BC_IMG img{
    width:95%;
    height:100%;
    margin:0 10px;
    padding:0;
}
.BC_Card{
    display:grid;
    grid-template:
    'Title Title Title'
    'img img img'
    'git git git'
    'description description description';

}
.BC_Title{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0;
    margin:0 0 10px;
}
.BC_Title h3{
    margin:0;
    padding:0;
    font-size:20px;
}
.BC_Des{
    margin:15px 10px;
    text-align:center;
    margin:0 30px;
}

.BC_Des p{
    text-indent:0;
    
}
}