.navbar{
    width: 100%;
    border-bottom:1px solid #2e3105;
    min-height: 90px;
    height: 5vw;
    padding:0;
    margin:0;
    
    background-color: #feffe9;

    display: grid;
    grid-template-columns:1fr 1fr auto;
    align-content: center;
    align-items:center;
    justify-items:center;
}
.navbar li{
    display: inline;
    color: black;
    text-decoration: none;
}

.NameContainer {
    height: 90%;
    width: 30%;
    
    grid-rows-template: 80% 20%;
    display: grid;
    margin:0;
    padding:0;
    align-content:center;
    
}

.NameContainer p{
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    
    margin:0;
    padding:0;
    text-indent:0;
    color:#2e3105;
    font-size: 20px;
}
.NameContainer h1{
    text-align: center;
    
    margin: 0;
    padding:5px 0 0 0;
    color:#2e3105;
    font-size: 50px;
}
.NameContainer a {
    text-decoration:none;
}

.NavButton{
    
  display: inline-block;
  margin:0 auto;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #2e3105;
  background-color: #2e3105;
  border: 1px solid black;
  border-radius: 35px;
  color: #feffe9;
  width:200px;
  

}

.hamburger {
  display: none;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
  color: #2e3105;
}


@media only screen and (max-width: 600px) {

  .hamburger {
    display: block;
    justify-self: end;
    margin-right: 20px;
  }

  .navRight {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    background-color: #feffe9;
    padding: 15px 0;
    text-align: center;
  }

  .navRight.show {
    display: block;
  }

  .NavButton {
    width: 90%;
    margin: 10px auto;
    display: block;
  }

  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .fullScreen{
    display:none;
  }
}

@media only screen and (max-width: 900px)and (min-width:600px){
  .hamburger {
    display: block;
    justify-self: end;
    margin-right: 20px;
  }
   .hamburger {
    display: block;
    justify-self: end;
    margin-right: 20px;
  }

  .navRight {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    background-color: #feffe9;
    padding: 15px 0;
    text-align: center;
  }

  .navRight.show {
    display: block;
  }

  .NavButton {
    width: 90%;
    margin: 10px auto;
    display: block;
  }

  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
